
openapi: 3.0.0
info:
  title: Bursa Disleksi AI - Student Management API
  description: Enterprise-level API for managing students, IEPs, financials, and performance metrics.
  version: 1.0.0
servers:
  - url: https://api.bursadisleksi.com/v1
    description: Production Server
paths:
  /students:
    get:
      summary: List all students
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: A list of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
    post:
      summary: Register a new student
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudentInput'
      responses:
        '201':
          description: Student created successfully

  /students/{id}/iep:
    get:
      summary: Get Student IEP Plan
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: IEP Plan details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IEPPlan'
    put:
      summary: Update IEP Goals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IEPPlan'
      responses:
        '200':
          description: Updated

  /students/{id}/financials/transactions:
    get:
      summary: Get Financial Transactions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Student:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        grade:
          type: string
        diagnosis:
          type: array
          items:
            type: string
    StudentInput:
      type: object
      required:
        - name
        - grade
      properties:
        name:
          type: string
        grade:
          type: string
    IEPPlan:
      type: object
      properties:
        id:
          type: string
        goals:
          type: array
          items:
            $ref: '#/components/schemas/IEPGoal'
    IEPGoal:
      type: object
      properties:
        category:
          type: string
          enum: [academic, behavioral, social]
        description:
          type: string
        progress:
          type: integer
    Transaction:
      type: object
      properties:
        id:
          type: string
        amount:
          type: number
        type:
          type: string
          enum: [payment, charge]
        date:
          type: string
          format: date-time
